{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'GuestUser'}}</h1>
        <p class="lead">
             <b>Welcome</b>
        </p>
        <hr class="my-4">
        <ul>
            {% for customer in customers %}
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group mt-0 mb-1">
                        <button name="login" class="col-md-4 btn btn-light" id="login">{{customer.name}}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
                <a class="btn btn-primary btn-lg" href="{% url 'addcustomer' %}" role="button">Add customer</a>

            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>

        
    </div>

{% endblock content %}